{
  "endOfLine": "auto",
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 80,
  "arrowParens": "always",
  "overrides": [
    {
      "files": "*.css",
      "options": {
        "tabWidth": 2
      }
    }
  ]
}